body {
    margin: 0;
    background-color: #f4f4f4;
    background-size:cover;
    height: 100vh;
    overflow: hidden;
}
.container {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.menu {
    margin-right: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: right;
}
.menu a {
    text-decoration: none;
}
.menu_button {
    color: #241e58;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    background-color: transparent;
    text-decoration: none;
    margin-left: 20px;
    border: none;
    border-bottom: 1.3px solid transparent;
    transition: border-bottom;
}
.about_button {
color: #5434dd;
font-family: 'DM Sans', sans-serif;
font-weight: 400;
font-size: 22px;
background-color: transparent;
text-decoration: none;
margin-left: 20px;
border: none;
border-bottom: 2px solid transparent;
transition: border-bottom;
}
.menu_button:hover {
    border-bottom: 2px solid #241e58
}

.page_center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}
.text_box {
    width: 40%;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.text_box h1 {
    margin: 0;
    font-family: 'Syne', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color:#cfd81e
}
.text_box h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color:#241e58
}
.resume_button .line {
    margin-top: 2px;
    margin-right: 10px;
    right: 10px;
    transform: translateY(-50%);
    width: 30px; 
    height: 2px;
    background-color: #241e58;
    transition: width 0.4s ease;
}
.resume_button:hover .line {
    width: 70px;
}

.resume_button {
    display: flex;
    align-items: center;
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #241e58;
    border: none;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    padding: 0px;
}
.text_box a {
    text-decoration: none;
}
.pic_container {
    width: 40%;
    margin-right: 60px;
}

#me {
    position: absolute;
    top: 125px;
    right: 100px;
    height: 550px;
    width: 500px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}
.container {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.socials_bar {
    margin-top: auto;
    margin-left: 60px;
    padding-bottom: 90px;
}
.socials_bar a {
    margin-right: 25px;
    text-decoration: none;
}
@media screen and (max-width: 1024px) {
    body, html {
        width: 100%;
    }
    .container {
        padding: 0px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    .page_center {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
    }
    .text_box {
        width: 80%;
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .pic_container {
        margin: 0;
        justify-content: center;
        width: auto;
    }
    #me {
        position:sticky;
        height: 385px;
        width: 350px;
    }
    .menu {
        width: auto;
        margin-top: 35px;
        display: flex;
        justify-content: space-evenly;
        margin-right: 0;
    }
    .menu_button {
        margin-left: 0;
        font-size: 18px;
        padding: 0px;
    }
    .menu_button:hover {
        border-bottom: 1.5px solid #241e58
    }
    .about_button {
        margin-left: 0;
        font-size: 18px;
    }
    .text_box h1 {
        font-size: 40px;
        margin-top: 30px;
    }
    .text_box h2 {
        font-size: 20px;
    }
    .resume_button {
        font-size: 22px;
    }
    .socials_bar {
        margin-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    .socials_bar a {
        margin: 0;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}