body {
    margin: 0;
    background-color: #f4f4f4;
    height: 100vh;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.menu {
    flex: 0.5;
    margin-right: 8%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}
.menu a {
    text-decoration: none;
}
.menu_button {
    color: #241e58;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    background-color: transparent;
    text-decoration: none;
    margin-left: 40px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom;
    padding: 0;
}

.contact_button {
    color: #5434dd;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    background-color: transparent;
    text-decoration: none;
    margin-left: 40px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom;
    padding: 0;
}

.menu_button:hover {
    border-bottom: 2px solid #241e58
}

.page_center {
    flex: 3;
    display: flex;
    justify-content: space-between;
    height: 80%;
}
.text_box {
    flex: 1;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text_box h1 {
    margin: 0;
    font-family: 'Syne', sans-serif;
    font-size: 5vh;
    font-weight: 800;
    color:#cfd81e
}
.text_box h2 {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 3vh;
    font-weight: 400;
    color:#241e58
}
.contact_info {
    display: flex;
}
.contact_info h3 {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5vh;
    font-weight: 400;
    color: #241e58;
}
.fa-solid{
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
}
.form_box {
    flex: 1;
    margin-right: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form {
    width: 100%;
}
.element_box {
    display: flex;
    flex-direction: column;
}
.form_subheader {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    color: #706e94;
    margin-bottom: 10px;
}
.input {
    color:#241e58;
    background-color: transparent;
    border: none;
    border-bottom: #241e58 1.5px solid;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}
#message {
    color: #241e58;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: #241e58 1.5px solid;
    height: 60px;
}
.send {
    color: #5434dd;
    background-color: #e9e6f8;
    margin-top: 10px;
    border: none;   
    border-radius: 12px;
    padding: 5px;
    font-family: 'Syne', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.socials_bar {
    flex: 0.5;
    margin-left: 8%;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 1%;
}
.socials_bar a {
    margin-right: 25px;
    text-decoration: none;
}
@media screen and (max-width: 1024px) {

    .socials_bar {
        margin-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    .socials_bar a {
        margin: 0;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    body, html {
        width: 100vw;
    }
    .container {
        padding: 0;
        margin: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    .menu {
        width: auto;
        margin-top: 35px;
        display: flex;
        justify-content: space-evenly;
        margin-right: 0;
    }
    .menu_button {
        margin-left: 0;
        font-size: 18px;
        padding: 0px;
    }
    .contact_button {
        margin-left: 0;
        font-size: 18px;
    }
    .page_center {
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    .text_box {
        width: 80%;
        margin: 0;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    .text_box h2 {
        margin-bottom: 40px;
    }
    .form_box {
        width: 80%;
        margin-top: 50px;
        margin-right: 0;
    }
    .send_container {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .text_box h1 {
        font-size: 55px;
    }
}

