body {
    margin: 0;
    background-color: #f4f4f4;
    background-size:cover;
    height: 100vh;
    overflow: hidden;
}
.container {
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_container {
    height: 85%;
}

.menu {
    margin-right: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: right;
}
.menu a {
    text-decoration: none;
}
.menu_button {
    color: #241e58;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    background-color: transparent;
    text-decoration: none;
    margin-left: 20px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom;
}

.contact_button {
color: #5434dd;
font-family: 'DM Sans', sans-serif;
font-weight: 400;
font-size: 22px;
background-color: transparent;
text-decoration: none;
margin-left: 20px;
border: none;
border-bottom: 2px solid transparent;
transition: border-bottom;
}

.menu_button:hover {
    border-bottom: 2px solid #241e58
}

.page_center {
    display: flex;
    justify-content: space-between;
    height: 80%;
}
.text_box {
    width: 40%;
    margin-left: 60px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
.text_box h1 {
    margin: 0;
    font-family: 'Syne', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color:#cfd81e
}
.text_box h2 {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:#241e58
}
.contact_info {
    display: flex;
}
.contact_info h3 {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #241e58;
}
.fa-solid{
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
}
.form_box {
    width: 40%;
    margin-right: 60px;
    margin-top: 150px;
}
.element_box {
    display: flex;
    flex-direction: column;
}
.form_subheader {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #706e94;
    margin-bottom: 10px;
}
.input {
    color:#241e58;
    background-color: transparent;
    border: none;
    border-bottom: #241e58 1.5px solid;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}
#message {
    color: #241e58;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: #241e58 1.5px solid;
    height: 60px;
}
.send {
    color: #5434dd;
    background-color: #e9e6f8;
    margin-top: 10px;
    border: none;   
    border-radius: 12px;
    padding: 5px;
    font-family: 'Syne', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.socials_bar {
    padding: 10px;
    margin-left: 60px;
    height: 10%;
}
.socials_bar a {
    margin-right: 25px;
    text-decoration: none;
}