body {
    margin: 0;
    background-color: #f4f4f4;
    background-size:cover;
    height: 100vh;
    overflow: hidden;
}
.container {
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu {
    margin-right: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: right;
}
.menu a {
    text-decoration: none;
}
.menu_button {
    color: #241e58;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    background-color: transparent;
    text-decoration: none;
    margin-left: 40px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom;
    padding: 0;
}
.projects_button {
    color: #5434dd;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    background-color: transparent;
    text-decoration: none;
    margin-left: 40px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom;
    padding: 0;
}
.menu_button:hover {
    border-bottom: 2px solid #241e58
}
.page_center {
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
}
.page_center h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    margin:0;
    font-size: 50px;
    color:#5434dd;
    margin-bottom: 20px;
}
.project_container {
    overflow: scroll;
}
.project_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 25px;
    margin-left: 40px;
}
.name_button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: #241e58;
    font-size: 22px;
    margin: 0;
    transition: border-bottom;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    border: none;
    padding: 0;
}
.text_container h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: #241e58;
    font-size: 18px;
    margin: 0;
}
.name_container {
    width: 900px; 
    margin-right: 100px;

}
.text_container {
    width: 1500px; 
    height: 112px;
    margin-right: 180px;
}
.project_img {
    height: 112px;
    width: 200px;
    object-fit: cover;
    object-position: center bottom;
    vertical-align: top;
    border-radius: 12px;
    border: solid 2px #241e58;
    margin: 0;
}
.img_container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.socials_bar {
    margin-top: auto;
    margin-left: 60px;
    padding-bottom: 90px;
}
.socials_bar a {
    margin-right: 25px;
    text-decoration: none;
}
.project_link {
    text-decoration: none;
}
.name_button:hover {
    border-bottom: 2.5px solid #241e58
}

@media screen and (max-width: 1024px) {
    body, html {
        width: 100vw;
    }
    .container {
        padding: 0;
        margin: 0;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    .menu {
        width: auto;
        margin-top: 35px;
        display: flex;
        justify-content: space-evenly;
        margin-right: 0;
    }
    .menu_button {
        margin-left: 0;
        font-size: 18px;
        padding: 0px;
    }
    .page_center {
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_box {
        width: 85%;
        align-items:center;
        margin-top: 30px;
    }
    .content_box h1 {
        margin-left: 40px;
    }
    .projects_button {
        margin-left: 0;
        font-size: 18px;
    }
    .project_container {
        padding-left: 30px;
        width: 100vw;
    }
    .project_box {
        display: flex;
        flex-direction: column;
        align-items: center;        
        margin: 0;
    }
    .name_container {
        width: 85%;
        display: flex;
        margin: 0;
        margin-bottom: 10px;
    }
    .text_container {
        width: 85%;
        height: fit-content;
        margin-bottom: 20px;
        display: flex;
        margin-right: 0;
    }
    .img_container {
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 50px;
    }
    .project_img {
        width: 85%; 
        height: auto;
    }
    .socials_bar {
        margin-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .socials_bar a {
        margin: 0;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

}