/* styles.css */

body {
    margin: 0;
    background-color: #f4f4f4;
    background-size:cover;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.page_center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85%;
}
.header {
    text-align: left;
    margin-left: 60px;
    color: #5434dd;
}

.header h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin:0;
    font-size: 128px;
}

.header h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    font-size: 28px;
    color: #241e58;
}

.menu {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    align-items: flex-end;
}
.menu a {
    text-decoration: none;
}
.menu_button .line {
    margin-left: 20px;
    right: 10px;
    transform: translateY(-50%);
    width: 30px; 
    height: 2px; 
    background-color: #241e58;
    transition: width 0.4s ease;
}
.menu_button:hover .line {
    width: 70px;
}
.menu_button {
    display: flex;
    align-items: center;
    color: #242152;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    position: relative;
}
.socials_bar {
    padding: 10px;
    margin-left: 60px;
    height: 10%;
}
.socials_bar a {
    margin-right: 25px;
    text-decoration: none;
}
#asterisk {
    position: absolute;
    height: 30px;
    top: 280px;
    left: 197px;
    z-index: 2;
}
#rectangle {
    position:absolute;
    width: 25px; /* Set the width of the rectangle */
    height: 20px; /* Set the height of the rectangle */
    background-color: #f4f4f4; /* Set the background color */
    top: 285px;
    left: 200px;
    z-index: 1;
}

#zigzag {
    position:absolute;
    height: 50px;
    top: 375px;
    left: 60px;
    rotate: -25deg;
    animation: rotate 3s infinite; /* 2s duration, infinite loop */

}
#spring {
    position:absolute;
    height: 50px;
    top: 275px;
    right: 370px;
    rotate: -20deg;
    animation: rotate 3s infinite; /* 2s duration, infinite loop */
}

@keyframes rotate {
    0%,100% {
      transform: rotate(0deg);
    }
    5% {
        transform: rotate(-20deg);
    }
    10% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-20deg);
    }
    20% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .page_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .header {
        text-align: center;
        margin: 0;
        color: #5434dd;
    }
    .header h1{
        font-size: 100px;
    }
    .header h2{
        font-size: 22px;
    }
    .socials_bar {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .socials_bar a {
        margin: 0;
        text-decoration: none;
        padding: 10px;
    }
   .menu {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
   .menu_button .line {
        display: none;
   }
   .menu a {
        padding: 0;
        margin: 0;
   }
   .menu_button {
        display: flex;
        align-items: center;
        color: #242152;
        margin-bottom: 20px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 25px;
        border: solid #242152 2px;
        border-radius: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: transparent;
        text-decoration: none;
        position: relative;
    }   
    .menu_button:hover {
        color: #e636e4;
        border: solid #e635e4 2px;
    }
    #asterisk {
        display: none;
    }
    #rectangle {
        display: none;
    }
    
    #zigzag {
        display: none;
    }
    #spring {
        display: none;
    }

}