/* styles.css */

body {
    margin: 0;
    background-color: #f4f4f4;
    background-size:cover;
    height: 100vh;
    overflow: hidden;
}

.container {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.page_center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.header {
    margin-top: 5px;
    text-align: left;
    margin-left: 60px;
    color: #5434dd;
}

.header h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin:0;
    font-size: 128px;
}

.header h2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    font-size: 28px;
    color: #241e58;
}

.menu {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    align-items: flex-end;
}
.menu a {
    text-decoration: none;
}
.menu_button .line {
    margin-left: 20px;
    right: 10px;
    transform: translateY(-50%);
    width: 30px; 
    height: 2px; 
    background-color: #241e58;
    transition: width 0.4s ease;
}
.menu_button:hover .line {
    width: 70px;
}
.menu_button {
    display: flex;
    align-items: center;
    color: #242152;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    position: relative;
}
.socials_bar {
    margin-left: 60px;
    margin-top: 80px;
}
.socials_bar a {
    margin-right: 25px;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .page_center {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        height: 85%;
    }
    .header {
        text-align: center;
        margin: 0;
        color: #5434dd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header h1{
        font-size: 10vh;
    }
    .header h2{
        font-size: 20px;
    }
    .socials_bar {
        margin: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    .socials_bar a {
        margin: 0;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
   .menu {
        width: 100%;
        align-items: center;
        margin: 0;
        margin-top: 1vh;
        margin-bottom: 2vh;
        padding-top: 0px;
    }
   .menu_button .line {
        display: none;
   }
   .menu a {
        padding: 0;
        margin: 0;
   }
   .menu_button {
        display: flex;
        align-items: center;
        color: #242152;
        margin-bottom: 20px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 22px;
        border: solid #242152 2px;
        border-radius: 25px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: transparent;
        text-decoration: none;
        position: relative;
    }   
    .menu_button:hover {
        color: #e636e4;
        border: solid #e635e4 2px;
    }
}
   